<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glodon.easymedicalapptosvn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限,wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- 读记录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写记录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <use-permission android:name="android.permission.RESTART_PACKAGES"></use-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 屏幕适配 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <activity
            android:name=".activity.StartAPPActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".activity.HomePageActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".activity.WebviewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".activity.SetActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".activity.PhotoActivity"
            android:theme="@android:style/Theme.Translucent" ></activity>
        <activity android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>-->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.HomePageActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.WebviewActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.WebviewCourseActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.WebviewPracticeActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.WebviewMyActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name=".activity.WebviewMessageActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.WebviewHelpActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.SetActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
    </application>

    <service android:name="com.glodon.easymedicalapptosvn.service.MyService"></service>

</manifest>